<form [formGroup]="fg" 
(ngSubmit)="guardar(fg.controls['producto'].value, fg.controls['url'].value )">
    <div	class="form-group">
            <label	for="producto">Producto</label>
            <ul>
                    <li *ngFor="let r of searchResults">{{r}}</li>
            </ul>
            <input	type="text"	class="form-control"	id="producto"	placeholder="Ingresar nombre..."  [formControl]="fg.controls['producto']">
                <div *ngIf="!fg.controls['producto'].valid">Nombre producto requerido!</div>
                <div *ngIf="fg.controls['producto'].hasError('invalidNombre')">Nombre producto invalido!</div>
     <div *ngIf="fg.controls['producto'].hasError('minLongNombre')">Nombre producto debe ser {{minLongNombre}} de largo!</div> 
        
        
            </div>
    <div	class="form-group">
            <label	for="url">Imagen	Url</label>
            <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." [formControl]="fg.controls['url']">
    </div>
    <button	type="submit"	class="btn	btn-primary"  *ngIf="fg.valid">Guardar!</button>
</form>
