
<div	class="container	content">
    <div	class="row">
                    <div	>
                                    <span	class="anchor"	id="formLogin"></span>
                                    <!-- form	card	login	with	validation	feedback	-->
                                    <div	class="card	card-outline-secondary">
                                                    <div	class="card-header">
                                                                    <h3	class="mb-0">Productos</h3>
                                                    </div>
                                                    <div	class="card-body">
                                                           <app-form-producto (agregarItem)="agregadoproduct($event)"></app-form-producto>
                                                    </div>
                                    </div>
                    </div>
    </div>
    <hr	class="mb-5">
    <div class="row row-flex">
                <app-productoproueba  
                *ngFor="let p of All; let i=index"
                 [producto]="p"
                 [idx]="i+1"
                 (clicked)="elegido(p)"
                 appEspiame
                 ></app-productoproueba>

   </div>
   <hr	class="mb-5">
   <div class="row row-flex">
          <h5>Actividad</h5>
       <ul>
              <li  *ngFor="let o of update">{{o}}</li>

       </ul>        

  </div>
</div>