
    <div	class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
                    <div	class="card-img">
                                    <img	src="https://placeimg.com/380/230/nature"	alt="">
                                
                                    <span><h4>{{posicion}}</h4></span>
                    </div>
                    <div	class="card-desc">
                                    <h3>{{producto.producto}}</h3>
                                    <p>Tipo de Materiales</p>
                                    <ul>
                                        <li *ngFor="let c of producto.CalidadSab"> 
                                            <span class="container" [ngSwitch]="c">
                                                <i *ngSwitchCase="'seda'" style="color: red;">{{c}}</i>
                                                <i *ngSwitchDefault>{{c}}</i>
                                            </span>
                                             
                                           
                                        </li>
                                    </ul>

                                    <div>
                                        <a href="#" (click)="VoteUp()" appTrackearClick data-trackear-tags="Producto_vote_up lista_productos_item">
                                            <i class="material-icons md-18">thumb_up</i></a>
                                        <a href="#" (click)="VoteDown()" appTrackearClick data-trackear-tags="Producto_vote_down lista_productos_item">
                                            <i class="material-icons md-18" >thumb_down</i></a>
                                 Votos:   {{producto.votes}}
                                    </div>
                                                    <p>{{producto.imagen}}</p>
                                                    <a	href="#"	class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="Producto_elegir_preferido lista_productos_item">Ir!</a>			
                                                     <span ngNonBindable>
                                                          {{Preferido}}  
                                                        </span>
                                                        

                                                </div>
    </div>

