<p>vuelos works!</p>
<div class="navLinks">
    <a [routerLink]="['./main']">Main</a>
    <a [routerLink]="['./mas-info']">Mas Info</a>
    <a [routerLink]="['./', 7]">Vuelo 7</a>
</div>

<router-outlet></router-outlet>
